[submodule "sharedvault"]
	path = sharedvault
	url = git@github.com:nanassito/sharedvault.git
[submodule "primitize"]
	path = primitize
	url = git@github.com:nanassito/primitize
[submodule "urllib_ext"]
	path = urllib_ext
	url = git@github.com:nanassito/urllib_ext.git
[submodule "argparse_logging"]
	path = argparse_logging
	url = git@github.com:nanassito/argparse_logging.git
